/* Project By Damian Mastroiacovo */
body {
	font-family: 'Raleway', sans-serif;
	background-color: #41d3bd  
}

nav ul a,
nav .brand-logo {
  color : #fffff2;
}

nav .brand-logo {
  font-family: 'Pacifico', cursive;
}

nav .nav-wrapper {
  padding: 0 50px;
}


p {
  line-height: 2rem;
}

.button-collapse {
  color: #fff;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.section-intro {
  height: 100%;
  width:100%;
}

.header {
	margin-top: 15%;
}
  
.header-subtitle {
  margin-top: 8%;
  font-size: 1.4em;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  nav .nav-wrapper {
    padding: 0 7px;
  }
}

.col-servizio {
	margin-top: 60px;
	margin-bottom: 100px;
}

#servizio p {
	font-size:1em;
	line-height:1 em;
}

.section-registrazione {
  height: 100%;
  width:100%;
}

.registrazione-icon {
	font-size:3em;
	margin-top: 50px;
}	

.registrazione-subtitle {
	font-size:1.2em;
	margin-top:5%;
}

.btn-registrazione {
	width:100%;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  background-color: #49111c 
}

.social-icon {
  font-size: 1.5em;
  color: #fff;
  padding: 0 20px;
}

.social-icon:hover {
  color: #145c9e;
}